@import '../colors.scss';

$cell-min-width: 110px;

// Cell style variables

$cell-padding-width: 15px;
$cell-padding-height: 10px;
$cell-margin-height: 3px;
$cell-border-thickness: 1px;
$cell-font-size: 15px;

// Header style variables

$header-padding-width: 15px;
$header-padding-height: 10px;
$header-border-thickness: 1px;
$header-font-size: 17px;

$header-drag-position: 15px;

// Calculated variables for use in virtualized table

$header-height: ($header-padding-height * 2) + ($header-border-thickness * 2) + $header-font-size;
$row-height: ($cell-padding-height * 2) + ($cell-border-thickness * 2) + $cell-font-size +
  ($cell-margin-height * 2) + 2;

:export {
  headerHeight: $header-height;
  rowHeight: $row-height;
  cellMinWidth: $cell-min-width + $cell-border-thickness * 2;
}

.tableHeaderSelection {
  margin: 20px 0;
}

.table {
  width: 100%;
  height: 100%;

  flex: 1;

  overflow-x: scroll;
  overflow-y: hidden;

  .tableGrid,
  &:focus {
    outline: none !important;
  }

  .header {
    padding: $header-padding-height $header-padding-width;
    padding-right: $header-padding-width + $header-drag-position;

    height: $header-height;
    border: $header-border-thickness solid $soft-black;

    text-align: center;
    align-items: center;

    color: $signature-red;
    user-select: none;
  }

  .cell {
    align-items: stretch;
    border: $cell-border-thickness solid $soft-black;

    padding: $header-padding-height $header-padding-width;
    padding-right: 0;

    .itm {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);

      color: $signature-red;
      background-color: #ffffffda;
      padding: 1px;

      font-size: 0.75em;
      font-weight: bold;
    }
  }

  .header,
  .cell {
    flex-grow: 1 !important;
    position: relative;

    min-width: $cell-min-width;
    outline: none !important;
    overflow: hidden;

    &.sortingBy {
      min-width: 150px;
    }
  }
}

$drag-handle-size: 30px;

.dragHandle {
  position: absolute;
  right: $header-drag-position;
  transform: translate(15px, 1.5px);
  flex: 0 0 $drag-handle-size;
  z-index: 2;

  color: #0085ff;
  background-color: white;

  cursor: col-resize;

  &:hover {
    color: $signature-red;
  }
}

.dragHandleActive,
.dragHandleActive:hover {
  color: $signature-red;
  z-index: 3;
}

.dragHandleIcon {
  flex: 0 0 $drag-handle-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerTruncated {
  flex: auto;
}
