@import '../colors.scss';

$content-indent: 20px;

.content {
  // All content goes in here
  display: flex;
  flex-direction: column;
}

.resultsTitle {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: $content-indent;

  .cached {
    height: 18px;
    float: right;
    vertical-align: middle;

    &:hover {
      color: $signature-red;
      cursor: pointer;
    }
  }
}

.cachedTooltip {
  span {
    color: rgb(230, 239, 255);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.results {
  padding-left: $content-indent;
  display: flex;
  flex: 1;
  flex-direction: column;

  width: 100%;

  .loader,
  .errorMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

    color: $signature-red;
    text-align: center;
  }
}
