@import '../colors.scss';

$content-indent: 20px;

// Cell style variables

$cell-padding-width: 15px;
$cell-padding-height: 10px;
$cell-margin-height: 3px;
$cell-border-thickness: 1px;
$cell-font-size: 15px;

// Header style variables

$header-padding-width: 15px;
$header-padding-height: 10px;
$header-border-thickness: 1px;
$header-font-size: 17px;

// Calculated variables for use in virtualized table

$header-height: ($header-padding-height * 2) + ($header-border-thickness * 2) + $header-font-size;
$row-height: ($cell-padding-height * 2) + ($cell-border-thickness * 2) + $cell-font-size +
  ($cell-margin-height * 2) + 2;

:export {
  headerHeight: $header-height;
  rowHeight: $row-height;
}

.resultsTitle {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: $content-indent;

  .cached {
    height: 18px;
    float: right;
    vertical-align: middle;

    &:hover {
      color: $signature-red;
      cursor: pointer;
    }
  }
}

.cachedTooltip {
  span {
    color: rgb(230, 239, 255);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.results {
  padding-left: $content-indent;

  width: 100%;
  height: 80%;

  .loader,
  .errorMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

    color: $signature-red;
    text-align: center;
  }

  .tableHeaderSelection {
    margin: 20px 0;
  }

  .table {
    width: 100%;
    height: 100%;

    .tableGrid,
    &:focus {
      outline: none !important;
    }

    .header {
      padding: $header-padding-height $header-padding-width;

      color: $signature-red;
      height: $header-height;
      border: $header-border-thickness solid $soft-black;
      text-align: center;

      flex-grow: 1;

      min-width: 110px;
      overflow: hidden;

      align-items: center;
    }

    .cell {
      position: relative;
      align-items: stretch;
      border: $cell-border-thickness solid $soft-black;

      padding: $header-padding-height $header-padding-width;
      padding-right: 0;

      flex-grow: 1;

      min-width: 110px;
      overflow: hidden;

      .itm {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);

        color: $signature-red;
        background-color: #ffffffda;
        padding: 1px;

        font-size: 0.75em;
        font-weight: bold;
      }
    }
  }
}

$drag-handle-size: 30px;

.dragHandle {
  flex: 0 0 $drag-handle-size;
  z-index: 2;
  cursor: col-resize;
  color: #0085ff;
  transform: translate(15px, 1.5px);

  &:hover {
    color: $signature-red;
  }
}

.dragHandleActive,
.dragHandleActive:hover {
  color: $signature-red;
  z-index: 3;
}

.dragHandleIcon {
  flex: 0 0 $drag-handle-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerTruncated {
  flex: auto;
}
