@import '../colors.scss';

$content-indent: 20px;

.resultsTitle {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: $content-indent;
}

.results {
  // position: relative;
  padding-left: $content-indent;

  width: 100%;
  height: 80%;

  .loader,
  .errorMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

    color: $signature-red;
    text-align: center;
  }

  .tableHeaderSelection {
    margin: 20px 0;
  }

  table {
    width: 100%;
    border-collapse: separate;

    th,
    td {
      position: relative;
      border: 1px solid $soft-black;
      padding: 10px 15px;

      .itm {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);

        color: $signature-red;
        background-color: #ffffffda;
        padding: 1px;

        font-size: 0.75em;
        font-weight: bold;
      }
    }

    th {
      color: $signature-red;
    }

    td {
      &.symbol:hover {
        cursor: pointer;
        color: $signature-red;
      }
    }
  }
}
