@import 'colors.scss';
@import 'navbar.scss';

@import './fonts/sitara.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  caret-color: $signature-red;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

#nprogress {
  .bar {
    background: $signature-red !important;
  }

  .spinner-icon {
    border-top-color: $signature-red !important;
    border-left-color: $signature-red !important;
  }
}

.app {
  display: grid;
  width: 100vw;
  height: 100vh;

  grid-template-columns: auto 1fr;
  grid-template-areas: 'nav content';
}

@media only screen and (max-width: 400px) {
  .app {
    grid-template-areas:
      'content'
      'nav';
    grid-template-columns: unset;
    grid-template-rows: 1fr auto;
  }
}

.content {
  padding: 20px 40px;
  grid-area: content;
}

.page-title {
  font-family: Sitara;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4em;
}

.icon {
  vertical-align: middle;
  display: inline-block;
}
