@import '../../colors.scss';

.watchlistSection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 75px;

  .watchlistOrList {
    margin-right: 10px;
    min-width: 110px;
    max-width: 150px;
    flex: 0 0 33.333%;
  }

  .selectWatchlist {
    flex: 1 0 auto;
  }
}

.expression {
  width: 100%;
  display: flex;
  align-items: center;

  .textfield {
    width: 100%;
    margin-right: 5px;
  }

  margin-bottom: 15px;

  &:last-of-type {
    margin-bottom: 20px;
  }
}

// Override Material UI requires !important
.addExpressionButton {
  display: block;
  font-weight: bold !important;
  border: 1px solid lightgray !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  margin: 0 auto !important;
  margin-bottom: 50px !important;
}

.closeIcon {
  transition: color 1s linear;

  &:hover {
    cursor: pointer;
    color: $signature-red;
  }
}

.nextButton {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
